.movieContainer {
  margin: 80px 170px;
  margin-bottom: 0px;

  button {
    border: 2px solid black;
    font-family: "Poppins";
    padding: 20px;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
      transition: all 0.2s;
    }
  }
}

.movieContent {
  width: max-content;
  margin: auto;
  text-align: center;
  box-shadow: 3px 3px 15px grey;
  padding: 40px;

  h1 {
    display: inline;
  }

  img {
    width: 60%;
  }

  p {
    font-size: 16px;
    width: 500px;
  }
}
