.searchContainer {
  background-color: white;
  position: absolute;
  // border: 3px solid red;
  overflow: hidden;
  width: 100%;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
}

form {
  input {
    width: 90%;
    font-family: "Poppins";
    padding: 10px 0px 10px 20px;
    border: none;
    border-bottom: 3px solid black;
  }
}

.searchDropDown {
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  padding-left: 20px;

  a {
    text-decoration: none;
    color: black;
  }

  h3,
  p {
    width: max-content;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  img {
    width: 30%;
  }
}

// @media screen and (max-width: 825px) {
//   .searchContainer {
//     width: 20%
//   }

//   input {
//     width: 20%;
//   }
// }
